body{
    background: rgb(24, 197, 219);
}
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
li a:hover {
    background-color: rgb(245, 199, 199);
    cursor: pointer;
}
.container{
    background-color:rgb(119, 180, 182);
    display: flex;
    justify-content: space-between;
}
.columns{
    display: flex;
    justify-content:space-between;
    color: #FFF;

}
h1{
    text-align: center;
}
h2{
    margin-left: 40%;
    text-transform: uppercase;
    margin-top: 100px;
    text-decoration: underline;
    
}
p{
    margin-left: 100px;
    font-size: 20px;
    width: 700px;
   
}
li{
    margin-left: 50px;
    font-size: 20px;
}
.image {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    margin: 10px;
    
}
.email{
    color: rgb(5, 21, 236);
    text-decoration:underline;
    margin-left: 10px;
}
h3{
    text-transform: uppercase;
    margin-left: 10px;
}
.rows{
    margin-right: 30%;
    margin-bottom: 20px;
    color: #FFF;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;

}
.btn:hover {
    background-color: RoyalBlue;
  }
.footer {
    width: 100%;
    background-color: rgb(241, 234, 234);
    color: white;
    text-align: center;
    padding: 20px;
  }
.item{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}
