body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(../Picture/banner4.png);
    background-size: cover;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:time new romemt;
}
li a:hover {
    cursor: pointer;
}
.active, .nav:hover{
    color: rgba(28, 243, 9, 0.979);
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:rgb(71, 71, 70);
    position:sticky;
    top:0;
    z-index: 99;
}
.title{
    margin-top: 100px;
    color:#fff ;

}
.title h1{
    font-size: 32px;
    line-height: 50px;
}
.title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(231, 221, 221);
    font-size: 20px;
    margin-bottom: 16px;
    color: #fff;
    background: rgba(0,0,0,0.4);
    
}
input{
    height: 50px;
}
form .submit{
    background-color: #ff5722;
    border-color:transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing:2px ;
    height: 50px;
    margin-top: 20px;
    width: 600px;
}
form .submit:hover{
    background-color:#f44336 ;
    cursor: pointer;
}
footer {
    background: rgb(151, 143, 143);
    padding: 50px;
    text-align: center;
    color: aliceblue;
}
.fa {
    padding: 10px;
}
.fa-facebook {
    background: blue;
    color: #FFF;
    border-radius: 10px;
}
.fa-instagram {
    border-radius: 10px;
    background: rgb(238, 187, 20);
    color: white;
}
.fa-telegram {
    border-radius: 10px;
    background: rgb(8, 8, 240);
    color: white;
}
.fa-skype{
    border-radius: 10px;
    background: blue;
    color: white;
}
.index{
    height: 45px;
    position: relative;
    bottom: -18px;
    left: 5px;
}
@media(max-width:600px){
    .container, ul, li, a {
        float: none;
        width:100%;
    
}
    .body{
        margin-left: -50%;
    }
    .title h1{
        font-size: 20px;
       
    }
    .title h2{
        font-size:20px;
        margin-left: -5px;
    }
    
}
@media(max-width:600px){
    input[type=submit]{
        font-size: 10px;
        width: 100px;
        
    }
    .form-control{
        width: 100%;
    }
}
