body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(../Picture/contact.jpg);
    background-size: cover;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:time new romemt;
}
li a:hover {
    cursor: pointer;
}
.active, .nav:hover{
    color: rgba(28, 243, 9, 0.979);
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:rgb(71, 71, 70);
}
.title{
    margin-top: 100px;
    color:#fff ;

}
.title h1{
    font-size: 32px;
    line-height: 10px;
}
.title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 20px;
    margin-bottom: 16px;
}
input{
    height: 50px;
}
form .submit{
    background-color: #ff5722;
    border-color:transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing:2px ;
    height: 50px;
    margin-top: 20px;
    width: 600px;
}
form .submit:hover{
    background-color:#f44336 ;
    cursor: pointer;
}
.map {
    width:97%;
    background-color: rgb(189, 184, 184);
    color: white;
    text-align: center;
    padding: 20px;
    color:black;
  }
  .item{
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}
