body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
li a:hover {
    background-color: rgb(245, 199, 199);
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(71, 71, 70);
}

.photo{
    position: relative;
    top:-650px;
    left: 20%;
    
}
.stylephoto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.name {
    color: #fff;
    font-size: 30px;
    margin-right: 20%;
}
.text{
    position: relative;
    right: 200px;
    color: #fff;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    width: 70%;

}
p{
    margin-left: 2%;
    
}

